{% extends 'base.html' %}

{% load static %}  {# Load the static template tag library #}

{% block title %}Create Ride{% endblock %}

{% block content %}
<h1>Create a New Ride</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Ride</button>
    <button type="button" onclick="setCurrentTime()">Set Current Time</button>
</form>
<a href="{% url 'home' %}">Back to Home</a>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
